---
# Main.scss - Including all the theming in this sass file (Okay its scss).
---

// Text
$base-font-family: Courier New, Courier, monospace !default;
$base-font-size: 22px;
$header-2: 100;

// Background
$background-color: #3da2bb !default;

// Methods
@mixin myborder($color){
    border: 1px solid $color;
}


body{
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-color: $background-color; 
}

.header{
    font-weight: bold;
    color: yellow;
}

.main-container{
    @include myborder(maroon);
    padding: 10px;
    .name-div{
        @include myborder(maroon);
        padding: 20px;
        color: black;
    }
    .sub-container{
        @include myborder(maroon);
        padding: 20px;
        color: black;
    }
}
