--- 
layout: default 
---
<script>
    var isSun = true;
    function toggleMode(){
        // alert("Dark mode coming soon!!");
        isSun = !isSun;
        if(isSun){
            document.getElementById("sun").style.display = "block";
            document.getElementById("moon").style.display = "none";
            document.getElementsByTagName("body")[0].style.background="#ffc680";
            console.log("switched to sun");
            gtag('event', 'select_content', {
              content_type: "SunMode"});
        }
        else{
            document.getElementById("sun").style.display = "none";
            document.getElementById("moon").style.display = "block";
            document.getElementsByTagName("body")[0].style.background="#2b2b2b";
            console.log("switched to moon");
            gtag('event', 'select_content', {
              content_type: "MoonMode"});
        }
    }
    function selectedLink(content){
        console.log(content);
        gtag('event', 'select_content', {
              content_type: content});
    }
</script>
<div class="main-container">
    <div id="rain-effect">
        {% for i in (1...150) %}
         <i class="rain"></i>
        {% endfor %}
    </div>
    <div class="sun top-right" id="sun" onclick="toggleMode()"></div>
    <div class="moon top-right" id="moon" onclick="toggleMode()" hidden></div>
    <div class="header left-side-content">
        I'm Venkat 
    </div>
    <div class="sub-container sub-header left-side-content">
        A Full-Stack developer with eyes and ears on anything in CS or soccer.
    </div>
    <div class="sub-container left-side-content">
        <a href="{{ '/game/gamecenter' | relative_url }}">Want to play a game?</a>
        (or in mood to find some easter eggs?)
    </div>
    <div class="sub-container left-side-content">
        <a href="https://venkatramanareddy.github.io/profile/" onclick="selectedLink('newprofilepagelink')">Checkout my new profile page!</a>
    <div>
    <div class="sub-container left-side-content">
        Find me -
        <ul>
            <li>
                <a href="https://stackoverflow.com/users/5725669/venkat-ramana" onclick="selectedLink('stackoverflow')">
                    <img src="https://stackoverflow.com/users/flair/5725669.png?theme=dark" width="208" height="58" alt="profile for Venkat Ramana at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                        title="profile for Venkat Ramana at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                </a>
            </li>
            <li>
                {% if site.twitter_username %}
                <a href="https://twitter.com/{{site.twitter_username}}" onclick="selectedLink('twitter')">
                    <!-- <i class="fa fa-twitter"></i>Twitter -->
                    <a href="https://twitter.com/intent/tweet?screen_name=venkatramana96&ref_src=twsrc%5Etfw" class="twitter-mention-button"
                        data-show-count="false"> Tweet to @venkatramana96</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if site.github_username %}
                <a href="https://github.com/{{site.github_username}}" onclick="selectedLink('github')">
                    <i class="fa fa-github" style="padding-right: 10px;"></i>GitHub
                </a>
                {% endif %}
            </li>
            <li>
                {% if site.codepen_url %}
                <a href="{{ site.codepen_url }}" onClick="selectedLink('codepen')">
                    <img src="https://aleen42.github.io/badges/src/codepen.svg" alt="codepen"/>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
