---
# Main.scss - Including all the theming in this sass file (Okay its scss).
---

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap');

// Text
// $base-font-family: Fira Mono !default;
$base-font-family: 'IBM Plex Mono', monospace;
$base-font-size: 22px;
$header-2: 100;

// Background
$background-color: #3da2bb !default;

// Methods
@mixin myborder($color){
    border: 1px solid $color;
}


body{
    font-family: $base-font-family;
    font-size: $base-font-size;
    // background-color: $background-color; 
    background-color: #ffc680;
    overflow-x:hidden;
    // background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}


.main-container{
    // @include myborder(maroon);
    padding: 10px;
    color: blueviolet;
    .header{
      padding:20px;
      font-weight: bold;
      font-size: xx-large;
    }
    .name-div{
      // @include myborder(maroon);
      padding: 20px;
    }
    .sub-container{
        // @include myborder(maroon);
        padding: 20px;
        font-size: large;
        word-wrap: break-word;
      }
}

.left-side-content{
  // min-width: 500px;
  width: 40%;
}

.ocean { 
    height: 5%;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(/assets/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

.top-right{
  position: fixed;
  top: 30px;
  right: 150px;
}

$sun-sphere: radial-gradient(
  circle at 10px 10px,
  #ffac26,
  #faf141
);

.sun{
  display: block;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 0;
  background: $sun-sphere;
  box-shadow: 0px 0px 40px 20px #fce303,
    0px 0px 70px 130px #fffb80,
  0px 0px 200px 220px #ffff0b;
}

$moon-sphere: radial-gradient(
  circle at 10px 10px,
  #f2f1ce,
  #fafaf2
);

.moon{
  display: none;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 0;
  background: $moon-sphere;
  box-shadow: 0px 0px 40px 20px #f6f7d7,
   0px 0px 70px 130px #fafaf2,
  0px 0px 200px 220px #fafaf2;
}

.rain {
  background: blue;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, blue 100%);
  height: 50px;
  position: absolute;
  width: 3px;
}

$rain: 150;

@for $i from 1 through $rain {
  $top: (random(50) + 50) * 1%;
  $left: random(100) * 1%;
  $opacity: (random(30) + 30) * 0.01;
  $delay: random(20) - 1s;

  .rain:nth-of-type(#{$i}) {
    animation-name: rain-#{$i};
    animation-delay: $delay;
    animation-duration: random(6) + 4s;
    animation-iteration-count: infinite;
    left: $left;
    opacity: $opacity;
    top: -$top;
  }

  @keyframes rain-#{$i} {
    0% {
      left: $left;
      opacity: $opacity;
      top: -$top;
    }
    100% {
      left: $left - 20%;
      opacity: 0;
      top: 600px;
    }
  }
}
